<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Create a listing</title>

    <script>
        function submitForms() {
            const selectedFile = document.getElementById('image').files[0];
            document.getElementById("textInput").action='/add-listing';
            document.getElementById("imageInput").action='/upload';
        }
    </script>
</head>

<body>

    <div class="register-container">
        <form id="textInput" action=" /add-listing" method="POST">
            <h1>Create a listing</h1>
            <div class="form-group">

                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" {{#if email}}
                    value={{email}} {{/if}} />
                
            </div>
            <div class="form-group">

                <input type="name" id="name" name="name" class="form-control" placeholder="Enter name of listing" {{#if
                    name}} value={{name}} {{/if}} />
                
            </div>

            <div class="form-group">

                <input type="description" id="description" name="description" class="form-control" placeholder="Enter a description of listing"/>
            </div>


            <div class="form-group">

                <input type="streetAddress" id="streetAddress" name="streetAddress" class="form-control"
                    placeholder="Enter Street Address" {{#if streetAddress}} value={{streetAddress}} {{/if}} />
                
            </div>
            <div class="form-group">

                <input type="city" id="city" name="city" class="form-control" placeholder="Enter city" {{#if city}}
                    value={{city}} {{/if}} />
    
            </div>
            <div class="form-group">

                <input type="state" id="state" name="state" class="form-control" placeholder="Enter state" />
               
            </div>
            <div class="form-group">

                <input type="zip" id="zip" name="zip" class="form-control" placeholder="Enter zip code" />
                
            </div>

            <div class="form-group">

                <input type="file" name="image" id="image" class="custom-file-input">
                <label for="image" class="custom-file-label">Choose file</label>
            </div>

            <div class="form-group">
                <input type="checkbox" name="amenities" value="Grill"/> Grill<br/>
                <input type="checkbox" name="amenities" value="Dryer"/> Dryer<br/>
                <input type="checkbox" name="amenities" value="Washer"/> Washer<br/>
                <input type="checkbox" name="amenities" value="Internet"/> Internet<br/>
                <input type="checkbox" name="amenities" value="Pool"/> Pool<br/>
                <input type="checkbox" name="amenities" value="TV"/> TV<br/>
                <input type="checkbox" name="amenities" value="Cable"/> Cable<br/>
                <input type="checkbox" name="amenities" value="Board Games"/> Board Games<br/>
                
                
            </div>
            
            <button type="submit" value="Submit"></button>
        </form>

        <form id="imageInput" action="/upload" method="POST" enctype="multipart/form-data">
            {{!-- <button class="btn btn-danger btn-block mt-4">DELETE</button> --}}
         
        </form>
        <button id="sub" type="submit" onclick="submitForms()" class="register-button">
            Submit
        </button>

    </div>

</body>

</html>