<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Create a listing</title>

    <script>
        function submitForms() {
            const selectedFile = document.getElementById('image').files[0];
            document.getElementById("textInput").action='/add-listing';
            document.getElementById("imageInput").action='/upload';
        }
    </script>
</head>

<body>

    <div class="listing-container">
        <form id="textInput" action=" /add-listing" method="POST" enctype="multipart/form-data">
            <h1>Create a listing</h1>
            <div class="form-group">

                <input type="email" id="email" name="email" class="form-control" placeholder="Email" {{#if email}}
                    value={{email}} {{/if}} />
                    <label for="email">Enter Your Email</label>
                
            </div>
            <div class="form-group">

                <input type="name" id="name" name="name" class="form-control" placeholder="Listing Name" {{#if
                    name}} value={{name}} {{/if}} />
                    <label for="name">Enter Listing Name</label>
                
            </div>

            <div class="form-description-box">
                <textarea type="description" id="description" name="description" placeholder="House Description" cols = "28" rows = "5" class="form-control"></textarea>
            </div>


            <div class="form-group">

                <input type="streetAddress" id="streetAddress" name="streetAddress" class="form-control"
                    placeholder="Street Address" {{#if streetAddress}} value={{streetAddress}} {{/if}} />
                    <label for="streetAddress">Enter Street Address</label>
                
            </div>
            <div class="form-group">

                <input type="city" id="city" name="city" class="form-control" placeholder="City" {{#if city}}
                    value={{city}} {{/if}} />
                    <label for="city">Enter City</label>
    
            </div>
            <div class="form-group">

                <input type="state" id="state" name="state" class="form-control" placeholder="State" />
                <label for="state">Enter State</label>
               
            </div>
            <div class="form-group">

                <input type="zip" id="zip" name="zip" class="form-control" placeholder="Zip Code" />
                <label for="zip">Enter Zip Code</label>
                
            </div>

            <div class="form-group">
                <input type="file" name="image" id="image" class="custom-file-input">
                <label for="image" class="custom-file-label"></label>
            </div>

            <form id="imageInput" action="/upload" method="POST" enctype="multipart/form-data">
            <button type="submit" value="Submit"
            class="upload-button">Upload Image</button>
            {{!-- <button class="btn btn-danger btn-block mt-4">DELETE</button> --}}
         
            </form>

            <div class="form-checklist">
                <input type="checkbox" name="amenities" value="Grill"/> Grill<br/>
                <input type="checkbox" name="amenities" value="Dryer"/> Dryer<br/>
                <input type="checkbox" name="amenities" value="Washer"/> Washer<br/>
                <input type="checkbox" name="amenities" value="Internet"/> Internet<br/>
                <input type="checkbox" name="amenities" value="Pool"/> Pool<br/>
                <input type="checkbox" name="amenities" value="TV"/> TV<br/>
                <input type="checkbox" name="amenities" value="Cable"/> Cable<br/>
                <input type="checkbox" name="amenities" value="Board Games"/> Board Games<br/>
                
                
            </div>
            
            

        </form>

        <button id="sub" type="submit" onclick="submitForms()" class="register-button">
            Submit
        </button>

    </div>

</body>

</html>