  
<!DOCTYPE html>
<html lang="en">

<head>
  <title>PlaceforSpace</title>
  <link rel="stylesheet" href="styles.css">

  <h1>Hello {{firstName}}, Welcome Home</h1>
  <h2>The center for chat notifications from renters and realtors.</h2>
  <p>Here, you can communicate with prospective buyers and sellers regarding your potential
    temporary and/or longterm home.
  </p>

  {{#each chatLinks}}
    
    <a href="/chat?username={{../firstName}}{{this}}"> {{lookup ../chatNames @index}} wants to chat with you</a>
    <br>
  {{/each}}
  <br>
  
  <a href="/logout" class="logout-button">Logout</a>

<div class = "navbar">
    <nav>
   </nav>
</div>
</head>
  <!-- <p>Live Data (Files and Databases)</p> -->
  

</body>
</html>