  
<!DOCTYPE html>
<html lang="en">

<head>
  <title>PlaceforSpace</title>
  <link rel="stylesheet" href="styles.css">

  <h1>PlaceforSpace: Home</h1>
  <h2>The center for all of your short-term and long-term rental needs</h2>
  <h2>Hello, {{firstName}}</h2>

  {{#each chatLinks}}
    
    <a href="/chat?username={{../firstName}}{{this}}"> {{lookup ../chatNames @index}} wants to chat with you</a>
    <br>
  {{/each}}
  <br>
  <a href="/logout" class="btn btn-secondary">Logout</a>
<div class = "navbar">
    <nav>
   </nav>
</div>
</head>
  <!-- <p>Live Data (Files and Databases)</p> -->
  

</body>
</html>