<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
<script>var speechRecognition = window.webkitSpeechRecognition


var recognition = new speechRecognition()

var searchbar = document.getElementById("searchbar")

var instructions = document.getElementById("instructions")

var startbtn = document.getElementById("start-btn")

var content = ''

recognition.continuous = true

recognition.onstart = function() {
    instructions.text("Voice recognition is on")
}

function speech() {
  document.getElementById("m").style.color = "red"

    if(content.length) {
        content += ''
    }

    recognition.start()
})
</script>
  <title>Housing</title>
</head>

<body>
  {{!-- <h1>View the Listings Here:</h1>

  <p>Long-term rentals</p>
  <p>Short term-rentals</p> --}}

  <button type="button" id="start-btn" onclick="speech()">Voice Search</button>
  <p id="m">MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM</p>

  <form action="/housing" method="GET" class="form-inline">
    <div class="form-group">
      <input type="text" id="searchbar" name="search" placeholder="Listing search..." class="form-control">
      <input type="submit" value="Search" class="btn btn-default">

      
    </div>


      <p id="instructions"></p>
        
        {{!--<h4>{{Listing[0].state}}</h4>--}}
    

      <div class="wrapper">
        <ul class="housingList">
          <!-- Cant figue out how to get the values by themself #yeet-->
        {{#each Listing}}
        <li>
          <div class="housingCard">
            <a href="/housing/{{this._id}}"><img src="{{this.image}}" class="cardImage"></a>
            <h4>{{this.name}}</h4>
            
          </div>
        </li>
        {{/each}} 
        </ul>
    </div>
    

  </form>

</body>
</html>