<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
      <script>var speechRecognition = window.webkitSpeechRecognition


var recognition = new speechRecognition()

var searchbar = $("#searchbar")

var instructions = $("#instructions")

var content = ''

recognition.continuous = true

recognition.onstart = function() {
    instructions.text("Voice recognition is on")
}

$("#start-btn").click(function(event) {
  console.log("in js file")
    if(content.length) {
        content += ''
    }

    recognition.start()
})</script>
  <title>Housing</title>
</head>

<body>
  {{!-- <h1>View the Listings Here:</h1>

  <p>Long-term rentals</p>
  <p>Short term-rentals</p> --}}

  <form action="/housing" method="GET" class="form-inline">
    <div class="form-group">
      <input type="text" id="searchbar" name="search" placeholder="Listing search..." class="form-control">
      <input type="submit" value="Search" class="btn btn-default">
      <button type="button" id="start-btn" onclick={{voice}}>Voice Search</button>

      <p id="instructions"></p>
        
        {{!--<h4>{{Listing[0].state}}</h4>--}}
        {{! my own little handlebar comment how cute}}
    
        <ul class="housingList">
          <!-- Cant figue out how to get the values by themself #yeet-->
        {{#each Listing}}
        <li>
          <div class="housingCard">
            <a href="/housing/{{this._id}}"><img src="house.jpg" style="width:100%"></a>
            <h4>{{this.state}}</h4>
          </div>
        </li>
        {{/each}} 
        </ul>

    </div>

  </form>

</body>
</html>