<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		
		<title>Join a Chat</title>
	</head>
	<body>
		<div class="join-container">
			<main class="form-input">
				<form action="chat">
					<div class="form-control">
						<label for="username">Display Name</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter your name"
							required
						/>
					</div>
					<div class="join-form-control">
						<label for="room">Room</label>
						<select name="room" id="room">
							<option value="JavaScript">JavaScript</option>
							<option value="Python">Python</option>
							<option value="PHP">PHP</option>
							<option value="C#">C#</option>
							<option value="Ruby">Ruby</option>
							<option value="Java">Java</option>
						</select>
					</div>
					<button type="submit" class="chat-join-btn">Join Chat</button>
				</form>
			</main>
		</div>
	</body>
</html>