<!-- https://validator.w3.org/nu/#textarea -->


<!DOCTYPE html>
<html lang="en">

<head>
  <title>Place for Space</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body class="homepage-layout">
  <header class="main-header">
    <!--logo and homepage-->
    <a href = "/" class = "pfs-logo">
      <img src = "place-for-space.png">
      <div class = "pfs">Place For Space</div>
    </a>
    
    <!--main header, contains about, renter into, realtor info, login, and example housing access-->
    <nav class = "main-nav">
      <!--about us page-->
      <a href="/about-page" >About</a>

      <!--houses page-->
      <a href="/housing" >Check Out Houses</a>
      
      <!--dropdown for renter accounts-->
      <div class="dropdown">
        <button class="dropbtn">Renter Accounts
          <i class="fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/about-renting"> About Renting With Us</a>
          <a href="/registration">Create Renter Account</a>
        </div>
      </div>

      <!--dropdown for realtor accounts-->
      <div class="dropdown">
        <button class="dropbtn">Realtor Accounts
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/about-selling"> About Selling With Us</a>
          <a href="/registration">Create Realtor Account</a>
        </div>
      </div> 

      <!--login page-->
      <a href="/login" >Login</a>

    </nav>
    
</header>

  <h1>Place for Space: Home</h1>
  <h2>The center for all of your short-term and long-term rental needs</h2>
<div class = "navbar">
    <nav>
   </nav>
</div>
  <!-- <p>Live Data (Files and Databases)</p> -->
  

</body>
</html>