@import url('https://fonts.googleapis.com/css?family=Lato:400, 500, 700');

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    color: #fffaeb;
    font-family: Lato;
    margin: auto;
    padding: 0 40px;
    max-width: 1800px;
    /*background-repeat: no-repeat;
    background: repeating-linear-gradient(73deg, #1a5a75, #18ad39 15%, #3cf6be 20%);*/
    background: linear-gradient(to right, #0c7742, #2f9459);
    min-height: 100vh;
}

.body{
    text-align: center;
}

.pfs-logo {
    color: inherit;
    margin-left: 1.75rem;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.gnome-home {
    width: 60px;
    height: 90px;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

/* LOGIN CSS */
.login-container {
    border: 2px solid #fffaeb;
    background-color: #fffaeb;
    max-width: 300px;
    border-radius: 10px;
    width: 40%;
    color: #0c7742;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10vh;
}

.login-container a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.login-button:hover p {
    color:#2f9459;
}

.login-button:hover {
    background-color:#8ddca4;
}

.login-container a:hover{
    color: #8ddca4;
}

.login-button {
    border: 2px solid #0c7742;
    color: #fffaeb;
    background-color: #0c7742;
    padding: .5rem .5rem;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    width: 250px;
    height: 40px;
    text-decoration: none;
}

.login-button p{
    text-decoration: none;
    color:#0c7742; 
    margin: 0.25em;
}

/*used on regisation and login page*/
.form-group {
    display: inline-block;
    align-items: center;
    color: #771a0c;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* REGISTRATION CSS */

.register-container {
    border: 2px solid #fffaeb;
    background-color: #fffaeb;
    max-width: 300px;
    border-radius: 10px;
    width: 40%;
    color: #0c7742;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 20px;
}

.register-option {
    color: #0c7742;
    align-self: center;
    font-size: 12px;
}

.register-option a {
    align-self: center;
    justify-content: baseline;
}

#questch {
    align-self: center;
    font-size: 12px;
}
 
.register-button {
    border: 2px solid #fffaeb;
    border-radius: 50px;
    height: 40px;
    width: 250px;
    color: #fffaeb;
    background-color: #0c7742;
    align-self: center;
}

.register-question {
    align-items: baseline;
    align-self: center;
    text-align: center;
}

.register-button p  {
    color:#0c7742; 
    margin: 0.25em;
    align-self: center;
}

.register-button:hover p {
    color:#2f9459;
}

.register-button:hover {
    background-color:#8ddca4;
}

/* LISTING CSS */

.listing-container {
    text-align: center;
    border-color: #fffaeb;
    background-color: #fffaeb;
    border-radius: 10px;
    border-width: 5px;
    color: #0c7742;
    min-width: 550px;
    max-width: 900px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 1rem;
    padding-bottom: 10px;
}

.listing-form {
    columns: 2;
    align-items: center;
    max-width: 650px;
    min-width: 500px;
    max-height: 800px;
    margin-left: 10%;

}

.listing-submit-button{
    color: #fffaeb;
    background-color: #0c7742;
    padding: .5rem .5rem;
    border-radius: 50px;
    border-color: #0c7742;
    width: 250px;
    height: 40px;
    text-decoration: none;
    align-self: center;
}


.listing-submit-button:hover {
    background-color: #8ddca4;
    border-color: #8ddca4;
}

.listing-textbox {
    align-self: center;
    font-family: arial;
    width: 85%;
    margin-top: 5px;
}

.listing-check {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10px;
}

.listing-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

  }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #8ddca4;
    border-radius: 15px 15px;
  }

  /* On mouse-over, add a grey background color */
.listing-check:hover input ~ .checkmark {
    background-color: #49a864;
  }

.listing-check input:checked ~ .checkmark {
    background-color: #0c7742;
  }
  
  /* Show the checkmark when checked */
  .listing-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .listing-check .checkmark:after {
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.form-control {
    align-self: center;
    display: inline-block;
    position: relative;
    top: -3em;
}

label{
    /*Places the lables aligned to the input box*/
    font-size: 14px;
    width: 10em; 
    margin-right: 1.5em;
    padding-left: 2rem;
    text-align: left;
}

.upload-button {
    border: 2px solid #fffaeb;
    border-radius: 50px;
    height: 25px;
    width: 150px;
    color: #fffaeb;
    background-color: #0c7742;
    align-self: center;
}

.upload-button:hover {
    background-color: #8ddca4;
}

.amenities-list li{
    justify-items: left;
    display: inline;
    padding: 30px;
}

/* HOUSING CSS */

.housingList{
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: none;
    align-items: left;
    display: inline-block;
    margin: 10px 10px;
    padding: 10px;
}

.housingCard {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2.5%;
    margin-bottom: 2.5%;
    background-color: #fffaeb;
    color: #0c7742;
    max-width: 300px;
    max-height: 80%;
    border-radius: 50px 0px;
    text-align:center;
    font-family: arial;
    text-rendering:geometricPrecision;
    break-inside: avoid;
  }
  
.housingCard img{
    border-radius: 50px 0px;
    border-color: #0c7742;
    align-self: center;
    width: 100%;
    height: 85%;
}

.housingCard:hover{
    background-color: #8ddca4;
}


.search-form-group {
    align-items: baseline;
}

.voice-search-button {
    background: transparent;
    border-color: transparent;
    text-align: center;
    font-size: 18px;
}

.container{
    text-align: center;
}

form {
    text-align: center;
    align-self: center;
} 

form input {
    border: 2px solid #0c7742;
    color: #0c7742;
    background-color: #fffaeb ;
    padding: .5rem .5rem;
    border-radius: 50px;
    height: 40px;
    text-decoration: none;
    width: 250px;
    align-self: center;
    text-align: center;
}


textarea {
    background: transparent;
    color: transparent;
    border: 2px solid #0c7742;
    color: #0c7742;
    background-color: #fffaeb ;
    align-self: center;
    border-radius: 10px;
    padding: .5rem .5rem;
    font-size: 12px;
  }

  .join-container {
    border: 2px solid #fffaeb;
    background-color: #fffaeb;
    max-width: 300px;
    border-radius: 10px;
    width: 40%;
    color: #0c7742;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .join-form-control {
      border-radius: 5;
  }

  .chat-join-btn {
      border-radius: 5px;
      background-color: transparent;
      border-color: #0c7742;
  }

 

.navbar{
    background-color: #fffaeb;
}
.navbar a {
    font-size: 32x;
}

.title {
    text-align: center;
}

.main-nav{
    overflow: hidden;
}

.dropdown {
    float: right;
    overflow: hidden;
    text-align: center;
    font-family: Lato;
    margin: auto;
}

.dropdown .dropbtn {
    font-size: inherit;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
}

.dropdown-content{
    display: none;
    position: absolute;
    /*subject to change */
    background-color:  #8ddca4;
    max-width: 160px;
    padding: .5rem .5rem;
    border-radius: .5rem;
}

.dropdown-content a {
    float: none;
    display: block;
    text-align: left;
}

.form-group label::after {
    color: red;
    content: ' *';
    display: inline;
}

.form-group a {
    align-self: center;
}

.form-group {
    display: inline-block;
    height: 4em;
    position: relative;
}

.form-checklist {
    font-size: 18px;
    width: 10px;
    height: 10px;
    margin-left: 20px;
    padding: 10px;
}


.form-checklist a {
    align-self: baseline;
}

.wrapper {
    margin: auto;
    padding: auto;
}



.search-btn {
    border-radius: 5;
    align-self: baseline;
    width: 3.5%;
    font-size: 15px;
    text-align: center;
}

.search-bar {
    width: 40vw;
    text-align: left;
}



/* HOVER EFFECTS */


.main-nav a:hover{
    color: #8ddca4;
}

.dropdown:hover .dropdown-content{
    display: block;
    color: #2f9459;
}

.dropdown:hover .dropdownbtn {
    color:  #8ddca4;
}

.dropdown a:hover {
    color: #fffaeb;
}



.google-option {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.google-button {
    align-self: center;
    text-decoration: none;
    color: #0c7742;
}

.google-button:hover {
    color: #8ddca4;
}

.search-btn:hover{
   background-color: #8ddca4;
}



.btn:hover{
    background-color: #8ddca4;
}

#map { 
    height: 500px;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
} 

hr{
    border: 1px solid #fffaeb;
    background-color: #fffaeb;
}
/* House page*/


.payment-button {
    cursor: pointer;
    background-color: #fffaeb;
    font-weight: 1000;
    margin-bottom: 20px;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    align-self: center;
    border-style: solid;
    border-width: 2px;
    border-color: #fffaeb;
    border-radius: 50px;
    color: #0c7742;
    display: inline-block;
  }

  .payment-button:hover{
    background-color: #8ddca4;
  }

  .payment-card {
      background-color: #fffaeb;
      color: #0c7742;
  }




.join-container {
    border: 2px solid #fffaeb;
    background-color: #fffaeb;
    max-width: 300px;
    border-radius: 10px;
    width: 40%;
    color: #0c7742;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .join-form-control {
      border-radius: 5;
  }

  .form-control {
      color: #771a0c;
  }

  .chat-join-btn {
      border-radius: 5px;
      background-color: transparent;
      border-color: #0c7742;
  }

  .invis {
      content-visibility: hidden;
  }

  .icons {
     width: 30px ;
     height: 30px;
  }

 /*CHAT STUFF*/
 .chat-container {
   
    border-radius: 10px;
     
 }
 .chat-messages{
    border: 2px solid #373b3fe8;
    background-color: #dedede;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: #373b3fe8;
 }

 .name {
     margin-right: 20px;
     display: inline-block
 }
