@import url('https://fonts.googleapis.com/css?family=Lato:400, 500, 700');

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    color: #fffaeb;
    font-family: Lato;
    margin: auto;
    padding: 0 40px;
    max-width: 1800px;
    /*background-repeat: no-repeat;
    background: repeating-linear-gradient(73deg, #1a5a75, #18ad39 15%, #3cf6be 20%);*/
    background: linear-gradient(to right, #0c7742, #2f9459)
}

.body{
    text-align: center;
}

.pfs-logo {
    color: inherit;
    font-size: 1.25em;
    text-decoration: none;
    text-align: center;
    margin-left: 1.75rem;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.login-container {
    border: 2px solid #fffaeb;
    background-color: #fffaeb;
    max-width: 300px;
    border-radius: 10px;
    width: 40%;
    color: #0c7742;
    margin: 0 auto;
    margin-bottom: 10px;
}

.login-container a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}


.register-container {
    border: 2px solid #fffaeb;
    background-color: #fffaeb;
    max-width: 300px;
    border-radius: 10px;
    width: 40%;
    color: #0c7742;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 20px;
}

.register-option {
    color: #0c7742;
    align-self: center;
    font-size: 12px;
}

.register-option a {
    align-self: center;
    justify-content: baseline;
}

#questch {
    align-self: center;
    font-size: 12px;
}
 
.register-button {
    border: 2px solid #fffaeb;
    border-radius: 50px;
    height: 40px;
    width: 250px;
    color: #fffaeb;
    background-color: #0c7742;
    align-self: center;
}

.upload-button {
    border: 2px solid #fffaeb;
    border-radius: 50px;
    height: 25px;
    width: 150px;
    color: #fffaeb;
    background-color: #0c7742;
    align-self: center;
}

.upload-button:hover {
    background-color: #8ddca4;
}

.register-question {
    align-items: baseline;
    align-self: center;
    text-align: center;
}

.register-button p  {
    color:#0c7742; 
    margin: 0.25em;
}

.login-button {
    border: 2px solid #0c7742;
    color: #fffaeb;
    background-color: #0c7742;
    padding: .5rem .5rem;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    width: 250px;
    height: 40px;
    text-decoration: none;
}

.login-button p{
    text-decoration: none;
    color:#0c7742; 
    margin: 0.25em;
}

.container{
    text-align: center;
}

form {
    text-align: center;
    align-self: center;
} 

form input {
    border: 2px solid #0c7742;
    color: #0c7742;
    background-color: #fffaeb ;
    padding: .5rem .5rem;
    border-radius: 50px;
    height: 40px;
    text-decoration: none;
    width: 250px;
    align-self: center;
    text-align: center;
}

form label{
    /*Places the lables alined to the input box*/
    text-align:right;
    justify-self: right;
    align-self: center;
    display: inline-block;
    flex-direction: column;
    font-size: 12px;
}

textarea {
    background: transparent;
    color: transparent;
    border: 2px solid #0c7742;
    color: #0c7742;
    background-color: #fffaeb ;
    align-self: center;
    border-radius: 10px;
    padding: .5rem .5rem;
    font-size: 12px;
  }

  .listing-container {
    border: 2px solid #fffaeb;
    background-color: #fffaeb;
    max-width: 300px;
    border-radius: 10px;
    width: 40%;
    color: #0c7742;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 20px;
}



.navbar{
    background-color: #fffaeb;
}
.navbar a {
    font-size: 32x;
}

.title {
    text-align: center;
}

.main-nav{
    overflow: hidden;
}

.dropdown {
    float: right;
    overflow: hidden;
    text-align: center;
    font-family: Lato;
    margin: auto;
}

.dropdown .dropbtn {
    font-size: inherit;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
}

.dropdown-content{
    display: none;
    position: absolute;
    /*subject to change */
    background-color:  #8ddca4;
    max-width: 160px;
    padding: .5rem .5rem;
    border-radius: .5rem;
}

.dropdown-content a {
    float: none;
    display: block;
    text-align: left;
}
/*used on regisation and login page*/
.form-group {
    display: inline-block;
    margin: 10px;
    align-items: center;
}

.form-group a {
    align-self: center;
}

.form-checklist {
    float: left;
    font-size: 18px;
    align-items:flex-start;
    margin-left: 20px;
    padding: 10px;
}

.form-checklist a {
    align-self: baseline;
}

/*HOUSING CARD*/

.housingList{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    overflow: hidden;
    align-items: left;
    display: inline-block;
    margin: 10px 10px;
    padding: 15px;
}

.wrapper {
    margin: auto;
    padding: auto;
}

.housingCard {
    background-color: #fffaeb;
    color: #0c7742;
    max-width: 400px;
    border-radius: 50px 0px;
    text-align:center;
    font-size: 20px;
    font-family: arial;
    min-width: 400px;
    min-height: 300px;
  }
.housingCard img{
    border-radius: 50px 0px;
    width: 100%;
    height: 300px;

}

.listing-textbox {
    align-self: center;
    font-family: arial;
    width: 85%;
}

.listing-input {
    font-family: arial;
    align-self: center;
}

/* HOVER EFFECTS */

.register-button:hover p {
    color:#2f9459;
}

.register-button:hover {
    background-color:#8ddca4;
}

.login-button:hover p {
    color:#2f9459;
}

.login-button:hover {
    background-color:#8ddca4;
}

.login-container a:hover{
    color: #8ddca4;
}

.main-nav a:hover{
    color: #8ddca4;
}

.dropdown:hover .dropdown-content{
    display: block;
    color: #2f9459;
}

.dropdown:hover .dropdownbtn {
    color:  #8ddca4;
}

.dropdown a:hover {
    color: #fffaeb;
}

.housingCard:hover{
    background-color: #8ddca4;
}

.google-option {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.google-button {
    align-self: center;
    text-decoration: none;
    color: #0c7742;
}

.google-button:hover {
    color: #8ddca4;
}

.search-button:hover{
   color: #8ddca4;
}

.voice-btn:hover {
    color: #8ddca4;
}

.btn:hover{
    background-color: #8ddca4;
}

#map { 
    height: 500px;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
} 

hr{
    border: 1px solid #fffaeb;
    background-color: #fffaeb;
}
/* House page*/




.amenities-list{
    align-items:baseline;
}



.join-container {
    border: 2px solid #fffaeb;
    background-color: #fffaeb;
    max-width: 300px;
    border-radius: 10px;
    width: 40%;
    color: #0c7742;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .join-form-control {
      border-radius: 5;
  }

  .chat-join-btn {
      border-radius: 5px;
      background-color: transparent;
      border-color: #0c7742;
  }

  .invis {
      content-visibility: hidden;
  }