@import url('https://fonts.googleapis.com/css?family=Lato:400, 500, 700');

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    color: #fffaeb;
    font-family: Lato;
    margin: auto;
    padding: 0 40px;
    max-width: 1800px;
    /*background-repeat: no-repeat;
    background: repeating-linear-gradient(73deg, #1a5a75, #18ad39 15%, #3cf6be 20%);*/
    background: linear-gradient(to right, #0c7742, #2f9459)
}

.body{
    text-align: center;
}

.pfs-logo {
    color: inherit;
    font-size: 1.25em;
    text-decoration: none;
    text-align: center;
    margin-left: 1.75rem;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.login-container {
    border: 2px solid #fffaeb;
    background-color: #fffaeb;
    max-width: 300px;
    border-radius: 10px;
    width: 40%;
    color: #0c7742;
    margin: 0 auto;
}

.login-container a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.register-container {
    border: 2px solid #fffaeb;
    background-color: #fffaeb;
    max-width: 300px;
    border-radius: 10px;
    width: 40%;
    color: #0c7742;
    margin: 0 auto;
    flex-direction: column;
}

.register-option {
    color: #0c7742;
    align-self: center;
    font-size: 12px;
}

.register-option a {
    align-self: center;
    justify-content: baseline;
}

#questch {
    align-self: center;
    font-size: 12px;
}

/* #fffaeb */
.register-button {
    border: 2px solid #fffaeb;
    border-radius: 50px;
    height: 40px;
    width: 250px;
    color: #fffaeb;
    background-color: #0c7742;
    align-self: center;
}

.register-question {
    align-items: baseline;
    align-self: center;
    text-align: center;
}

.register-button p  {
    color:#0c7742; 
    margin: 0.25em;
}

.login-button {
    border: 2px solid #0c7742;
    color: #fffaeb;
    background-color: #0c7742;
    padding: .5rem .5rem;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    width: 250px;
    height: 40px;
    text-decoration: none;
}

.login-button p{
    text-decoration: none;
    color:#0c7742; 
    margin: 0.25em;
}

.container{
    text-align: center;
}

form {
    text-align: center;
    align-self: center;
} 

form input {
    border: 2px solid #0c7742;
    color: #0c7742;
    background-color: #fffaeb ;
    padding: .5rem .5rem;
    border-radius: 50px;
    height: 40px;
    text-decoration: none;
    width: 250px;
    align-self: center;
    text-align: center;
}

form label{
    /*Places the lables alined to the input box*/
    text-align:right;
    justify-self: right;
    align-self: center;
    display: inline-block;
    flex-direction: column;
    font-size: 12px;
}

.navbar{
    background-color: #fffaeb;
}
.navbar a {
    font-size: 32x;
}

.title {
    text-align: center;
}

.main-nav{
    overflow: hidden;
}

.dropdown {
    float: right;
    overflow: hidden;
    text-align: center;
    font-family: Lato;
    margin: auto;
}

.dropdown .dropbtn {
    font-size: inherit;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
}

.dropdown-content{
    display: none;
    position: absolute;
    /*subject to change */
    background-color:  #8ddca4;
    max-width: 160px;
    padding: .5rem .5rem;
    border-radius: .5rem;
}

.dropdown-content a {
    float: none;
    display: block;
    text-align: left;
}
/*used on regisation and login page*/
.form-group {
    display: inline-block;
    margin: 10px;
    row-gap: 10px;
    align-self: center;
}

/*HOUSING CARD*/

.housingList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.housingList li {
    float: left;
    margin: 10px
}


.housingCard {
    background-color: #fffaeb;
    color: #0c7742;
    max-width: 300px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
.housingCard img{
    border-radius: 50px 0px;
}


/* HOVER EFFECTS */

.register-button:hover p {
    color:#2f9459;
}

.register-button:hover {
    background-color:#8ddca4;
}

.login-button:hover p {
    color:#2f9459;
}

.login-button:hover {
    background-color:#8ddca4;
}

.login-container a:hover{
    color: #8ddca4;
}

.main-nav a:hover{
    color: #8ddca4;
}

.dropdown:hover .dropdown-content{
    display: block;
    color: #2f9459;
}

.dropdown:hover .dropdownbtn {
    color:  #8ddca4;
}

.dropdown a:hover {
    color: #fffaeb;
}

.google-option {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.google-button {
    align-self: center;
    text-decoration: none;
    color: #0c7742;
}

.google-button:hover {
    color: #8ddca4;
}

/* MAPS*/
#map {
    height: 500px;
    width: 500px; 
}

.map{
    border-radius: 50px 
}