<!DOCTYPE html>
<html lang="en">

<head>
  <title>Place for Space</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body class="homepage-layout">
  <h1>Place for Space: Home</h1>
  <h2>The center for all of your short-term and long-term rental needs</h2>
<div class = "navbar">
    <nav>
   </nav>
</div>
  <!-- <p>Live Data (Files and Databases)</p> -->
  

</body>
</html>