<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <title>Housing</title>
</head>

<body>


  <h1>View the Listings Here:</h1>

  <p>Long-term rentals</p>
  <p>Short term-rentals</p>

</body>
</html>