{{!-- <nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">StoryBooks</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Buy a house please</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav> --}}

<header class="main-header">
    <!--logo and homepage-->
    <a href = "/" class = "pfs-logo">
      <img src = "place-for-space.png">
      <div class = "pfs">Place for Space</div>
    </a>
    
    <!--main header, contains about, renter into, realtor info, login, and example housing access-->
    <nav class = "main-nav">
      <!--about us page-->
      <a href="/about-page">About</a>

      <!--houses page-->
      <a href="/housing" >Check Out Houses</a>
      
      <!--dropdown for renter accounts-->
      <div class="dropdown">
        <button class="dropbtn">Renter Accounts
          <i class="fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/about-renting"> About Renting With Us</a>
          <a href="/registration">Create Renter Account</a>
        </div>
      </div>

      <!--dropdown for realtor accounts-->
      <div class="dropdown">
        <button class="dropbtn">Realtor Accounts
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/about-selling"> About Selling With Us</a>
          <a href="/registration">Create Realtor Account</a>
        </div>
      </div> 

      <!--login page-->
      <a href="/login" >Login</a>

    </nav>
    
</header>